<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/" method="POST">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-input">
        <label for="email" class="form-label">E-Mail</label>
        <input type="email" class="form-input">
        <label for="phone-number" class="form-label">Phone Number</label>
        <input type="tel" class="form-input">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-input">
        <button type="submit" class="form-btn">Sign Up</button>
    </form>
    <script src="script.js"></script>
</body>
</html>