* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-top: 30px;
}

.form-leader {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.form-input {
    width: 20%; 
    margin: auto;
    margin-top: 5px;
    text-align: initial;
    padding: 5px;
}

.form-label {
    text-align: left;
    margin-left: 40%;
    padding-top: 20px;
}

option {
    text-align: left;
}

.form-btn {
    width: 8%; 
    margin: 29px auto;
    margin-bottom: 3px;
    padding: 9px 55px;
    box-sizing: initial;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
}

.leaderboard-container {
    width: 30%;
    justify-content: center;
    min-height: 40px;
    border: 2px solid black;
    padding: 20px;
    display: none;
}

.leaderboard-heading {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px black solid;
    padding-top: 10px;
    font-weight: bold;
}

.leaderboard-content {
    display: flex;
}

.leaderboard-content ul {
    list-style-type: none;
}
