* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

h1 {
    font-size: 2rem;
    margin-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}

/***************Add Expense*************/
form h1 {
    margin-top: 0;
}

form {
    /* border: 1px solid black; */
    margin: 10px auto;
    padding: 20px;
    width: 100%;
}

form div {
    display: flex;
    justify-content: space-between;
    padding: 0 40px ;
    text-align: center;

}

.form-input {
    width: 44%; 
    margin-top: 5px;
    padding: 5px;
}

.form-label {
    padding: 5px;
}


.form-btn {
    margin: 29px auto;
    margin-bottom: 3px;
    padding: 9px 25px;
    box-sizing: initial;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
}

/**********************Daily Expense*******************/
.expense-display-container {
    align-items: center;
    margin: 10px auto;
    width: 100%;
}

.expense-display-heading {
    font-weight: bold;
    color: white;
    background: rgb(0, 173, 0);
    padding: 10px 0;
    border: solid black 1px;
    border-bottom: none;
}

.expense-display {
    /* min-height: 5rem; */
    border: solid 1px black;
    border-bottom: 0;
}


.display-expense-inside {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid;
    padding: 12px;
}

.display-expense-inside span {
    min-width: 5rem;
}

#del-btn-inside {
    background-color: red;
    padding: 2px 5px;
    color: white;
    border: none;
    font-weight: bold;
}


/****************Download*************/
.download-btn-div {
    text-align: center;
}

/*************Leaderboard************/
.leaderboard-container {
    min-height: 40px;
    border: 2px solid black;
    padding: 20px;
    display: none;
    margin: 48px auto;
    margin-bottom: 0;
    width: 100%;
}

.leaderboard-container h2 {
    text-align: center;
}

.leaderboard-heading {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px black solid;
    padding-top: 10px;
    font-weight: bold;
}

.leaderboard-content .user {
    display: flex;
    justify-content: space-between;
    padding: 5px 60px;
}

.expense-container div {
    display: flex;
    justify-content: space-between;
    padding: 4px 17px;
    border: 1px solid black;
}

/************Logout**************/
.btn-div-bottom {
    text-align: center;
}

/************Pagination**********/
.pagination {
    margin-top: 10px;
    text-align: center;
}

.pagination-btn {
    text-decoration: none;
    font-weight: bold;
    color: green;
    padding: 5px;
    border: 1px solid green;
    margin: 0 0.7rem;
    cursor: pointer;
    font-size: 110%;
    border-radius: 5px;
    width: 4rem;
}

.pagination button:hover,
.pagination button:active,
.pagination button.active {
  background: #00695c;
  color: white;
}

@media only screen and (min-width: 1000px) {
    form {
        width: 30%;
        float: left;
        margin-top: 20px;
    }

    .expense-display-container {
        width: 40%;
        float: left;
        /* margin: 48px 50px; */
        padding: 0 20px;
    }

    .expense-display-heading {
        display: flex;
        justify-content: space-evenly;
        padding-right: 148px;
    }

    .leaderboard-container {
        width: 30%;
        float: right;
        margin-top: 88px;
    }
}